$text-color: #484848;
$small-text-color: #949292;
$border-color: #eee;

$lightgray: #b1b2b3;

// $primary-color: #28ccd2;
$primary-color: #00bcd4;
$primary-hover-color: #1ab4ba;
// $border-color: #dce0e0;
$border-color: #eee;

$placeholder-img: #e8e8e8;

