.create-event-page {
	.ProfileData__pic {
		position: relative;
		top: 0;
	}
	
	.TripBlock__author-text {
		padding: 0 15px;
		margin-top:20px;
	}
	
	.trip-title {
		margin-bottom: 20px;
	}
	
	label {
		font-size: 16px;
		font-weight: 500;
		width: 100%;
		margin-bottom: 8px;
	}
	
	.TripBlock__city {
		padding: 0 15px;
		
		input {
			border: 1px solid $border-color;
			padding: 5px 10px;
			border-radius: 5px;
			line-height: 30px;
			min-width: 300px;
			font-size: 16px;
			font-weight: 500;
/*
			&::-webkit-input-placeholder { 
			  color: $lightgray;
			}	
*/		
		}
	}
	
	.TripBlock__data_places {
		h3 {
			display: block;
			width: 100%;
		}
	}
	
	.places-list {
		padding: 0;
		margin-top: 5px;
	}
	
	input {
		line-height: 30px;
		border: 1px solid $border-color;
		border-radius: 5px;
		min-width: 300px;
		padding: 5px 10px;
	}	
	
	.add-field-link {
		display: inline-block;
		margin-top:5px;
		color: $primary-color;
		font-size: 14px;
	}
}
